@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="clientProfile">
</div>
<div id="servicesMenu">
</div>

<h1>Fancy Spa</h1>
<div id="clientProfile">
</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    <p>Your //TODO: pass the skintype value in here// skin type is best suited to the follow facial types:</p>
    
    <ul>
        //TODO: iterate through appropriate facial treatments
    </ul>

    <h5>Nail Services</h5>
    // TODO: display a description for the nail service selected
    
</div>
